{:deps   true
 :nrepl  {:port 7002}
 :builds {:repl {:target           :node-script
                 :main             ribelo.oyeblikk.repl/main
                 :output-to        "dist/oyeblikk.js"
                 :compiler-options {:optimizations   :simple
                                    :external-config {:ghostwheel {}}}
                 :devtools         {:after-load eglaf.core/reload!}}}}